<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>.about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactus</servlet-name>
        <servlet-class>contactus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutus</servlet-name>
        <servlet-class>aboutus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults1</servlet-name>
        <servlet-class>SearchResults1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactus</servlet-name>
        <url-pattern>/contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutus</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults1</servlet-name>
        <url-pattern>/SearchResults1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
