#	Character	Replacement	Example
1	ा	-अ	न्याय+अन्याय=न्यायान्याय
2	ा	-आ	देव+आलय=देवालय
3	ा	ा-आ	विद्या+आरंभ=विद्यारंभ
4	ी	ी-इ	देवी+इच्छा=देवीच्छा
5	ी	ी-ई	पार्वती+ईश=पार्वतीश
6	ू	ू-उ	भू+उद्धार=भूद्धार
7	ू	ू-ऊ	भू+ऊर्जित=भूर्जित
8	े	-इ	ईश्वर+इच्छा=ईश्वरेच्छा
9	े	-ई	गण+ईश=गणेश
10	ो	-उ	सूर्य+उदय=सूर्योदय
11	ो	-ऊ	समुद्र+ऊर्मी=समुद्रोर्मी
12	े	ा-इ	रमा+इच्छा=रमेच्छा
13	े	ा-ई	रमा+ईश=रमेश
14	ो	ा-उ	गंगा+उत्साह=गंगोत्साह
15	ो	ा-ऊ	गंगा+ऊर्मी=गंगोर्मी
16	्य 	ि-अ	अति+अल्प=अत्यल्प
17	्या	ि-आ	अति+आनंद=अत्यानंद
18	्यु	ि-उ	अति+उत्तम=अत्युत्तम
19	्यू	ि-ऊ	अति+ऊर्जा=अत्यूर्जा
20	्ये	ि-ए	प्रति+एक=प्रत्येक
21	्यौ	ि-ओ	मति+ओघ=मत्यौघ
22	्य	ी-अ	नदी+अर्पण=नद्यर्पण
23	्या	ी-आ	गौरी+आनंद=गौर्यानंद
24	ि	-इ	अन+इष्ट=अनिष्ट
25	ो	-ओ	अन+ओळखी=अनोळखी
26	ा	ा-अ	विद्या+अभ्यास=विद्याभ्यास